LANGSMITH_API_KEY=""
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT="doc_parsing"
QWEN_KEY=""
QWEN_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"


DOC_CHUNKING_LLM_API_KEY=""
DOC_CHUNKING_LLM_BASE_URL=""
DOC_CHUNKING_LLM_MODEL="qwen3-4b"
